language: python

python:
  - "2.7"
  - "3.6"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pytest-cov
  - pip install codecov

# command to run tests
script:
  - pytest --api_key=$api_key --cov=./ --cov-report xml
  
after_success:
- codecov
